<!DOCTYPE html>
<html>
<head>
	<title>Boba Tracker</title>
	{%load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'track_boba/css/style_index.css'%}">
</head>
<body>
	<a href="/profile/{{request.session.user_id}}">Your Profile</a>
	<h1>Boba Tracker App</h1>
	<div id="map"></div>
	<form>
		{%csrf_token%}
		Name of Boba Place: <input type="text" name="name">
		<input type="hidden" name="lng" id="lng">
		<input type="hidden" name="lat" id="lat">
		<input type="Submit" value="Add Place">
	</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'track_boba/js/main.js'%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATUPsfY3MunXxd2f8nk2x0hFiJuq_bUKg&callback=initMap"
	async defer></script>
	
	<!--placeholder for for loop - listed boba places in the area  -->
	<h3>Places for a quick fix</h3>
	<table id="boba_places">
		<tr>
			<th>Business</th>
			<th>Status</th>
		</tr>
		{% for place in boba_places %}
			<tr>
				<td>{{place.name}}</td>
			</tr>
		{% endfor %}
	</table>

</body>
</html>