<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	 {%load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'track_boba/css/style_login.css'%}"> 
	<link href='https://fonts.googleapis.com/css?family=Architects Daughter' rel='stylesheet'>
</head>
<body>
	<div class="container">
{%for message in messages%}
	<h3 class="error {{messages.tags}}">{{message}}</h3>
{%endfor%}
{% if type %}
		<div id="register">
			<h1>Register</h1>
				<form action="/register" method="POST">
					{%csrf_token%}
					<p>Name: <input type="text" name="name"></p>
					<p>Email: <input type="email" name="email"></p>
					<p>Password: <input type="password" name="pass"></p>
					<p>Confirm PW: <input type="password" name="con_pass"></p>
					<input id="register" type="submit" value="Register">
				</form>
			{% load static from staticfiles %}
			<img src="{% static "track_boba/imgs/boba.jpg" %}" alt="Hi!"/>
	{% else %}
		<div id="register">
			<h1>Login</h1>
				<form action="/login" method="POST">
					{%csrf_token%}
					<p>Email: <input type="email" name="email"></p>
					<p>Password: <input type="password" name="pass"></p>
					<input id="login" type="submit" value="Login">
				</form>
			{% load static from staticfiles %}
			<img src="{% static "track_boba/imgs/boba.jpg" %}" alt="Hi!"/>
			<p id="hey"><a href='/reg'>Do not have an account? Register!</a></p>
		{% endif %}
			</div>
		</div>
	</div>
</body>
</html>
