<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{user.name}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'track_boba/css/materialize.min.css'%}"  media="screen,projection"/>
        <link href="{% static 'track_boba/css/user_profile.css' %}" rel="stylesheet">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav class="right-align">
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </nav>
        <div class="container">
            <h2>{{user.name}}</h2>
            <h4>Places you've visited:</h4>
            <table>
                <tr>
                    <th>Business</th>
                    <th>Been High</th>
                </tr>
                {% for place in places %}
                <tr>
                    <td>{{place.bobaplace.name}}</td>
                    <td>{{place.timesDrugged.count}} time(s)</td>
                </tr>
                {% endfor %}
            </table>

            <form id="search">
                {%csrf_token%}
                <h4>Search for a friend: <input type="text" name="search"></h4>
                <input class="btn waves-effect waves-light" type="submit" value="Search">
            </form>

            <div id="search_results">
                
            </div>

            <h4>Your friends:</h4>
            {% for friend in friends %}
                <p><a href="/profile/{{friend.user_friend.id}}"></a>{{friend.friend.name}}</p>
            {% endfor %}
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{%static 'track_boba/js/search.js'%}"></script>
        <script type="text/javascript" src="{%static 'track_boba/js/materialize.min.js'%}"></script>
    </body>
</html>
