<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{user.name}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="{% static 'track_boba/css/user_profile.css' %}" rel="stylesheet">
    </head>
    <body>
        <a href="/dashboard">Home</a>
        <h2>{{user.name}}</h2>
        <h4>Places you've visited:</h4>
        <table>
            <tr>
                <th>Business</th>
                <th>Been High</th>
            </tr>
            {% for place in places %}
            <tr>
                <td>{{place.bobaplace.name}}</td>
                <td>{{place.timesDrugged.count}} time(s)</td>
            </tr>
            {% endfor %}
        </table>

        <h4>Your friends:</h4>
        {% for friend in friends %}
            <p><a href="/profile/{{friend.user_friend.id}}"></a>{{friend.user_friend.name}}</p>
        {% endfor %}
    </body>
</html>
