.container{
    width: 975px;
    height: auto;
}
#map {
	height: 95vh;
	width: 100%;
}
.box{
	width: 700px;
	display: inline-block;

}
.box2{
	
	width: 500px;
	display: inline-block;
	vertical-align: top;
}
