* {
	font-family: 'Architects Daughter'
}

.container{
    width: 1500px;;
    height: auto;
}
#map {
	height: 95vh;
	width: 100%;
}
.box{
	width: 700px;
	display: inline-block;

}
.box2{
	
	width: 700px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

a {
	float: right;
	text-decoration: none;
	margin-left: 6px;
}

h3 {
	font-size: 30px;
}

p {
	font-size: 14pt;
}

table {
    border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
	padding: 15px;
    text-align: left;
}
