*{
    font-family: sans-serif;
}

h1 {
    font-family: 'Architects Daughter';font-size: 40px;
    text-align: center;
}

#register {
    margin-left: 550px;
    
}
input {
    float: right;
     margin-right: 550px;
    
}
img{
    margin-left: 380px;
}
